@model IEnumerable<Dienthoai.Models.Hangsanxuat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Danh Sách Các Hãng</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tenhang)
        </th>
        <th>Hàng Động</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tenhang)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Mahang }) |
            @Html.ActionLink("Details", "Details", new { id=item.Mahang }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Mahang })
        </td>
    </tr>
}

</table>
