@model IEnumerable<Dienthoai.Models.Hedieuhanh>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Danh Sách loại Điều hành</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tenhdh)
        </th>
        <th>Hàng Động</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tenhdh)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Mahdh }) |
            @Html.ActionLink("Details", "Details", new { id=item.Mahdh }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Mahdh })
        </td>
    </tr>
}

</table>
